.footer {
  &__wrapper {
    padding-top: 51px;
    padding-bottom: 54px
  }

  &__list {
    display: inline-flex;
    justify-content: center;
    gap: 35px;
    //border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);

    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-top: 26px;
    text-align: center;

    color: #21243D;
  }
}